.blackbutton{
  border-color: black!important;
  color:black!important;
}
.blackbutton:hover {
  color: white!important;
  background-color: black!important;
}
.black{
  color:black!important;
}
.card-img{
  border-radius: 0!important;
  height:350px!important;
}
.card-img-overlay{
  margin-left:60%!important;
  margin-top: 100px;
} 